Flask
Flask-Cors
Flask-MySQLdb
opencv-python-headless  # Use headless version for servers
numpy
ultralytics
torch
reportlab
mysqlclient
python-dotenv
gunicorn # Required for production deployment
